/arrays/
/entries/
/models/
/hot_doushi_entries/
/hot_jodoshi_entries/
/hot_joshi_entries/
/hot_keiyoushi_entries/
/hot_meishi_entries/
/hot_vec/
/hot_vec_doushi/
/hot_vec_jodoshi/
/hot_vec_joshi/
/hot_vec_keiyoushi/
/hot_vec_meishi/
/normal_doushi_entries/
/normal_jodoshi_entries/
/normal_joshi_entries/
/normal_keiyoushi_entries/
/normal_meishi_entries/
/normal_vec/
/normal_vec_doushi/
/normal_vec_jodoshi/
/normal_vec_joshi/
/normal_vec_keiyoushi/
/normal_vec_meishi/
__pycache__/
.vscode/
*.JPEG